/* General styles */

.module > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
sky-card + sky-card {
  margin-top: 15px;
}

sky-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form sky-button {
  float: right;
  margin-top: 15px;
}
